<div class="card col-lg-5 mx-auto p-3 mt-5 bg-light">


    <section class="d-flex justify-content-center mt-5 mb-5">
      <span class="border-bottom border-primary">
        <h5 class="text-primary">Sign up</h5>
      </span>
    </section>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control py-2" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control py-2" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control py-2" %>
      </div>

      <div class="actions mt-4 mb-5">
        <%= f.submit "Sign up", class: "form-control py-2 btn btn-primary fw-bold shadow" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    

</div>
